* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Arimo", sans-serif;
}

/* Generals */
:root {
  --letters-color: #e0eee0;
  --main-color: #139513;
  --trans-color: #f59c00;
  --active-button-color: #0f670f;
}

body {
  background-color: #111;
}

/*********************** Navigation-Bar ************************/

.nav-container .menu-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.8);
}
.nav-container {
  transform: translate(-100%, 0);
}
.nav-container.is-active {
  transform: translate(0, 0);
}
.nav-container .menu-desktop li {
  display: block;
  width: 100%;
  list-style: none;
}
.nav-container .menu-desktop li:hover {
  background-color: #333;
}
.nav-container .menu-desktop a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 3rem;
  text-decoration: none;
}
.nav-container .menu-desktop a:hover {
  color: var(--trans-color);
}
.nav-container .menu-desktop a i {
  font-size: 3.6rem;
  padding: 4.1rem 2rem 2rem 2rem;
}

header .nav-button {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  background-color: var(--main-color);
  border-radius: 1rem;
  animation-name: btnHamColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes btnHamColor {
  20% {
    background-color: var(--trans-color);
  }
}
/************************ Main Section ***********************/
/* Genericos */
h3 {
  font-size: 2.6rem;
  color: var(--letters-color);
  padding: 1rem;
}
img {
  width: 100%;
}
figure {
  align-self: center;
  max-width: 80%;
  margin: 2rem;
  border: 0.3rem solid var(--main-color);
  animation-name: borderColor;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes borderColor {
  20% {
    border: 1rem solid var(--trans-color);
  }
}
/*********************** Section1 - Home **********************/
.sec1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.sec1-container__text-aboutme {
  display: flex;
  flex-direction: column;
}
.sec1-container figure {
  display: none;
}
.sec1-container h6 {
  font-size: 2.6rem;
  color: var(--letters-color);
  padding: 1rem;
}
.sec1-container h2 {
  font-size: 3.6rem;
  color: var(--letters-color);
  padding: 1rem;
}
.sec1-container h2 span {
  font-size: 3.6rem;
  color: var(--main-color);
  animation-name: nameColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes nameColor {
  20% {
    color: var(--trans-color);
  }
}
.sec1-container p {
  font-size: 1.6rem;
  color: var(--letters-color);
  padding: 1rem;
}
.sec1-container .sec1-container__button {
  align-self: flex-end;
  display: inline-block;
  font-size: 2.6rem;
  background-color: var(--main-color);
  color: #000;
  text-decoration: none;
  font-weight: 700;
  margin: 2rem;
  padding: 1.8rem;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(220, 220, 220, 0.5);
  animation-name: buttonColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes buttonColor {
  20% {
    background-color: var(--trans-color);
  }
}

.sec1-container .sec1-container__button:active {
  background-color: var(--active-button-color);
  color: var(--letters-color);
}

/*********************** Section2 - AboutMe **********************/
.sec2-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sec2-container figure {
  align-self: center;
  border: 1rem solid var(--main-color);
  border-radius: 50%;
  margin: 2rem 1rem;
  max-width: 80%;
  animation-name: borderImg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes borderImg {
  20% {
    border: 1rem solid var(--trans-color);
  }
}
.sec2-container .sec2-container__pic-me {
  max-width: 100%;
  object-fit: cover;
  border: 3px solid #333;
  border-radius: 50%;
}
.sec2-container__col2-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--letters-color);
}
.sec2-container__col2-info li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1.5rem 2.5rem;
}
.sec2-container__col2-info__title {
  letter-spacing: 0.8pt;
  font-weight: lighter;
  font-size: 1.6rem;
}
.sec2-container__col2-info__info {
  font-weight: bolder;
  font-size: 1.6rem;
}

/**************** Section2 - Skills *******************/

/**** Skill Boxes-background ****/
.sec2-container__Skills-box {
  align-self: center;
  background-color: white;
  border-radius: 1rem;
  width: 80%;
  height: 50px;
  /* min-width: 50%;
  min-height: 20%; */
}
/**** Skill Boxes-front ****/
.sec2-container__Skills-box-html {
  background-color: #dd4b25;
  border-radius: 1rem;
  max-width: 80%;
  min-height: 100%;
}
.sec2-container__Skills-box-css {
  background-color: #0091ca;
  border-radius: 1rem;
  max-width: 65%;
  min-height: 100%;
}
.sec2-container__Skills-box-js {
  background-color: #f7df1e;
  border-radius: 1rem;
  max-width: 40%;
  min-height: 100%;
}
.sec2-container__Skills-box-figma {
  background-color: #9d56f7;
  border-radius: 1rem;
  max-width: 30%;
  min-height: 100%;
}
/* Skill Names */
.sec2-container__Skills-name {
  display: flex;
  justify-content: center;
}
.sec2-container__Skills-name .fa-html5 {
  color: #dd4b25;
  font-size: 3.6rem;
  padding: 1rem;
}
.sec2-container__Skills-name .fa-css3-alt {
  color: #0091ca;
  font-size: 3.6rem;
  padding: 1rem;
}
.sec2-container__Skills-name .fa-js-square {
  color: #f7df1e;
  font-size: 3.6rem;
  padding: 1rem;
}
.sec2-container__Skills-name .fa-figma {
  color: #9d56f7;
  font-size: 3.6rem;
  padding: 1rem;
}
.sec2-container__Skills-name span {
  align-self: center;
  color: var(--letters-color);
  font-size: 2rem;
}

/*************** Section3 - Portfolio *****************/
.sec3-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
.sec3-container__img {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 80%;
}
.sec3-container__img-fig {
  align-self: center;
}
/* MEDIA QUERY */
@media (min-width: 769px) {
  /*********************** Grid-Responsive ************************/
  .row {
    display: flex;
  }
  .col-3 {
    display: flex;
    width: 25%;
  }
  .col-4 {
    display: flex;
    width: 33.33%;
  }
  .col-5 {
    display: flex;
    width: 41.66%;
  }
  .col-5 {
    display: flex;
    width: 50%;
  }
  /*********************** General-Responsive ************************/
  body {
    background-color: #222;
  }
  h3 {
    font-size: 3.6rem;
    align-self: center;
    margin: 3rem;
  }
  figure {
    align-self: center;
    max-width: 80%;
    margin: 0;
    border: solid #333;
  }
  /*********************** Navigation-Bar-Responsive ************************/
  header .nav-button {
    display: none;
  }
  .nav-container {
    display: flex;
    align-items: center;
    position: static;
    box-shadow: 0 0 0;
    transform: none;
  }
  .nav-container .menu-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 25rem;
    width: 10%;
    height: 30%;
    background-color: #222;
  }
  .nav-container .menu-desktop li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
  .nav-container .menu-desktop a {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--letters-color);
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
  }
  .nav-container .menu-desktop a:hover {
    color: var(--main-color);
  }
  .nav-container .menu-desktop a:active {
    color: var(--active-button-color);
  }
  .nav-container .menu-desktop i {
    font-size: 2.5rem;
    padding-bottom: 0.8rem;
  }

  /*********************** Main-Home-Responsive ************************/
  .sec1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sec1-container figure {
    display: inline-block;
    max-width: 35%;
    border: 1rem solid var(--main-color);
    border-radius: 20px;
    animation-name: borderImg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  @keyframes borderImg {
    20% {
      border: 1rem solid #f59c00;
    }
  }
  .sec1-container figure img {
    border-radius: 10px;
  }
  .sec1-container__text-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec1-container__text-aboutme h6 {
    display: none;
  }
  .sec1-container__text-aboutme h2 {
    font-size: 5rem;
    align-self: flex-start;
  }
  .sec1-container__text-aboutme h2 span {
    font-size: 5rem;
  }
  .sec1-container__text-aboutme p {
    font-size: 2.6rem;
  }
  .sec1-container__text-aboutme .sec1-container__button {
    align-self: flex-start;
  }
  /*********************** Section2 - AboutMe - Responsive **********************/
  .sec2-container figure {
    display: none;
  }
  .sec2-container__col2-info li {
    margin: 0 10rem;
  }
  .sec2-container__col2-info__title {
    letter-spacing: 0.8pt;
    font-weight: lighter;
    font-size: 2.6rem;
  }
  .sec2-container__col2-info__info {
    font-weight: bolder;
    font-size: 2.6rem;
  }

  /**************** Section2 - Skills - Responsive *******************/
  /**** Skill Boxes-background ****/
  .sec2-container__Skills-box {
    max-width: 60%;
  }

  /****************** Section3 - Portfolio -Responsive ************************/
  .sec3-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }
  .sec3-container__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
